@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';

:root {
  /* colors */
  --color-primary: #5295ff;
  --color-accent: #79d634;
  --background-color: #f9fbff;
  --color-text: #242628;

  /* size */
  --unit: 1rem;
  --offset: calc(var(--unit) * 1.6);
  --appbar-height: calc(var(--unit) * 6.4);
  --avatar-size: calc(var(--appbar-height) / 2);

  /* font */
  --font-family: 'Lato', sans-serif;
  --font-size: calc(1.6 * var(--unit));
  --font-size-tiny: calc(1.2 * var(--unit));
  --font-size-small: calc(1.4 * var(--unit));
  --font-size-normal: var(--font-size);
  --font-size-big: calc(1.8 * var(--unit));
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 700;
  --font-weight-bold: 900;

  /* z-index  */
  --z-index-highest: 300;
  --z-index-higher: 200;
  --z-index-high: 100;
  --z-index-normal: 1;
  --z-index-low: -100;
  --z-index-lower: -200;
}
